<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ejs</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />    <script src="socket.io/socket.io.js"></script>
    <style>
        *{
            margin:0;
            padding:0;
            box-sizing: border-box;
        }
        body{
            background:linear-gradient(to right,rgb(100,0,200),rgb(150,0,200));
            color:white;
        }
        input{
            outline: none;
        }
        form{
            
            max-width: 500px;
            margin:auto;
            
        }
        .left{

            float:left;
        }
        .right{
            float:right;
        }
        .text{
            font-family: sans-serif;
            font-size: 1.2rem;
            background-color: lightblue;
            padding:5px;
            color:black;
            margin:2px;
            /* float:left; */
            clear:both;
            border-radius: 5px;
            width:60%;
        
        }
        .text span{
            color:blue;
            font-size: 1rem;
        }
        .body{
            height: 500px;
            overflow-y: auto;
            max-width: 500px;
            margin:auto;
            border:1px solid white;
            padding:10px;
        }
        input{
            width:90%;
            float:left;
            height:30px;
            border:none;
            font-size: 1.2rem;
            text-indent: 5px;
        }
        button{
            width:10%;
            float:right;    
            height: 30px;
            border:none;
            background-color: white;
            border-left: 1px solid black;
            font-size: 1rem;
        }
        @media(max-width: 500px){
            input{
                height:50px;
            }
            button{
                height:50px;
            }
            .body{
                height:620px;
            }
        }
    </style>
</head>
<body>
    <h1 style="text-align: center;">welcome to i chat</h1>
    <div class="open">

    <div class="body">

    </div>
    <form >
        <div class="fixed">
        <input type="text" id="msg" autocomplete="off">
        <button type="submit"><i class="far fa-paper-plane"></i></button>
    </div>

    </form>
</div>

    <script src="script.js"></script>
</body>
</html>